#slider{
    border-radius: 20px;
    height: 10px;
    width: 360px;
}

#copyPassword, #copyPassphrase{
    padding: 0.5%;
    width: 20%;
}

body{
    padding: 5%;
}

h1, p{
    text-align: center;
}

.slider-container{
    text-align: center;
}

.buttons{
    text-align: center;
    padding: 1%;
}

button{
    padding: 1%;
    margin: 1%;
}

.checkboxes{
    padding-bottom: 1%;
    margin-left: 40%;
}

.generated-password{
    text-align: center;
}